* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    border-right: 20px solid #78a195;
    border-left: 20px solid #78a195;
    min-height: 110vh;
}

body {
    width: 1000px;
    margin: auto;
}

@font-face {
    font-family: "Slim Joe";
    src: url(../fonts/SlimJoe-400.otf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Mont";
    src: url(../fonts/Mont-Light.ttf);
}

@font-face {
    font-family: "DejaVu Sans";
    src: url(../fonts/DejaVuSans-ExtraLight.ttf);
}

.main-title,
.spark-ar {
    font-family: "Slim Joe";
    text-align: center;
    font-weight: 100;
}

.main-title {
    margin: 100px 0 30px 0;
    letter-spacing: 16px;
    font-size: 50px;
}

.main-title a {
    text-decoration: none;
    color: black;
}

.main-title a:focus {
    outline: none;
}

.spark-ar {
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 800;
}

.main-pods {
    margin-top: 150px;
}

header > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header > ul > li {
    letter-spacing: 4px;
    color: darken(#cbcbcb,20%);
    font-family: "DejaVu Sans";
}

header > ul > li:first-child,
header > ul > li:nth-child(2) {
    margin-right: 20px;

    a {
        display: flex;
    }
}

header > ul > li a {
    text-decoration: none;
    color: darken(#cbcbcb,20%);
}

header > ul > li a:focus {
    outline: none;
}

li {
    list-style: none;
}

.main-pods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pod-wrapper {
    border: 1px solid #b2b2b2;
    height: 200px;
    padding: 8px 8px 70px;
}

.pod-wrapper:hover {
    cursor: pointer;
}

.pod-image {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.pod-image h3:first-child {
    opacity: 0.7;
    z-index: 2;
}

.pod-wrapper:first-child h3:first-child {
    opacity: 0.6;
}

.pod-image .opacity {
    opacity: 0.2;
}

.pod-image h3 {
    font-family: "Mont";
    font-size: 34px;
    text-align: center;
    font-weight: 100;
    line-height: 31px;
}

.pod-image:first-child h3 {
    font-family: "Mont";
    font-size: 34px;
    text-align: center;
    font-weight: 100;
}

.pod-wrapper:nth-child(1) .opacity {
    margin-top: -18px;
    font-size: 34px;
}

.pod-wrapper a {
    text-decoration: none;
    color: black;
}

.pod-wrapper a:active {
    text-decoration: none;
    color: black;
}

.pod-wrapper:nth-child(2) .opacity {
    margin-top: -13px;
}

.pod-wrapper:nth-child(3) .opacity {
    font-size: 37px;
    margin-top: -15px;
}

.pod-wrapper:nth-child(4) .opacity {
    margin-top: -17px;
}

.pod-wrapper:nth-child(1) .pod-image {
    background: url(../images/main.jpg);
    background-size: 100% 100%;
}

.pod-wrapper:nth-child(2) .pod-image {
    background: url(../images/gallery.jpg);
    background-size: 100% 100%;
}

.pod-wrapper:nth-child(3) .pod-image {
    background: url(../images/order-mask.jpg);
    background-size: 100% 100%;
}

.pod-wrapper:nth-child(4) .pod-image {
    background: url(../images/questions.jpg);
    background-size: 100% 100%;
}

section > h1,
section > h3 {
    color: #c3c3c3;
    font-weight: 100;
    font-family: "Mont";
}

section > h1 {
    font-size: 46px;
    font-weight: 100;
    letter-spacing: 10px;
    opacity: 0.85;
}

section > p,
section > span,
section li {
    color: #5f5f5f;
    font-size: 15px;
    font-family: "Mont";
    letter-spacing: 3px;
}

.main-page-section {
    padding: 0 80px;
    margin-top: 80px;
}

.main-page-section > span,
.main-page-section ul {
    margin-left: 100px;
}

.marketing-instrument h3 {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: "Mont";
}

.marketing-instrument p {
    font-family: "Mont";
    font-size: 17px;
}

.marketing-instrument {
    text-align: center;
    margin-top: 70px;
    padding-top: 35px;
    margin-bottom: 80px;
}

.what-is-it {
    position: relative;
    margin-bottom: 134px;
}

.what-is-it-description {
    display: flex;
    align-items: center;
    margin-left: 100px;
    background: url(../images/scope.jpg?5d3d6ec38d757733474a49d9a52dc26a);
    padding: 15px 0px 15px 36px;
    background-size: 100% 100%;
    width: 783px;
    position: relative;
}

.what-is-it img {
    width: 500px;
    opacity: 0.75;
    position: absolute;
    right: -80px;
}

.what-is-it h1 {
    transform-origin: center;
    transform: rotate(-90deg);
    font-family: "Mont";
    position: absolute;
    left: -136px;
    top: 151px;
}

.what-is-it p {
    line-height: 27px;
    letter-spacing: 2px;
    font-family: "Mont";
    z-index: 1;
}

.first-background-span {
    background: url(../images/span-background.jpg?2bf1976f910609394c83300121c97b16);
    background-size: 100% 100%;
    padding: 10px 59px 23px 35px;
    margin-left: -36px;
}

.why-us li {
    margin-top: 20px;
}

.why-us ul li:first-child {
    background: url(../images/first-li-background.png?73b517fde15e58243bf534af715c87fb);
    background-size: 100% 100%;
    width: 307px;
    padding-right: 42px;
    line-height: 31px;
    display: flex;
    justify-content: center;
}

.why-us ul li:nth-child(2) {
    background: url(../images/second-li-background.png?ca7d1a18c5948ec3284affee62b0ce42);
    background-size: 100% 100%;
    width: 528px;
    line-height: 49px;
    display: flex;
    justify-content: center;
}

.why-us ul li:nth-child(3) {
    background: url(../images/third-li-background.png?caf7437e2a7827ba84ee986d750d020d);
    background-size: 100% 100%;
    width: 290px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    padding-top: 9px;
    margin-top: 7px;
}

.your-order h1 {
    margin-bottom: 20px;
}

.your-order li,
.your-order span {
    line-height: 24px;
}

.your-order li > span {
    font-size: 13px;
    font-weight: 600;
}

.your-order > span {
    display: block;
}

.your-order {
    margin-bottom: 80px;
}

.main-tranmission {
    margin-bottom: 50px;
}

.main-page-image {
    width: 500px;
    height: 375px;
    background: url(../images/main-page-image.jpg?c7bdc9492353b0b97c30a7f5663a3e3b);
    background-size: 100% 100%;
    opacity: 0.75;
    position: absolute;
    right: -80px;
}

.gallery .pod-wrapper:nth-child(1) .pod-image {
    background: url(../images/camera_styles.png?4e4227f5172dbe55f8537db22eabae1a);
    background-size: 100% 100%;
}

.gallery .pod-wrapper:nth-child(2) .pod-image {
    background: url(../images/selfi.png?6dcbd74c0a0163b13e7340ac9ee1951a);
    background-size: 100% 100%;
}

.gallery .pod-wrapper:nth-child(3) .pod-image {
    background: url(../images/objects.png?70d1766da95264910f7d39caf659eed8);
    background-size: 100% 100%;
}

.gallery .pod-wrapper:nth-child(4) .pod-image {
    background: url(../images/gallery-questions.png?57da1bf64d8689006087618dbbb99065);
    background-size: 100% 100%;
}

.catalog {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
    flex-wrap: wrap;
}

.catalog-element {
    width: 300px;
    margin-top: 50px;
}

.catalog-element:nth-child(3n + 2) {
    margin-right: 45px;
    margin-left: 45px;
}

.cart-image {
    background: url(../images/cart-image.png?c3148b97c895279c63884e1551edc93b);
    background-size: 100% 100%;
    width: 127px;
    height: 47px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    color: #9f9f9f;
    text-decoration: none;
}

.cart-count, .constructor-count {
    background: #535353;
    text-align: center;
    border-radius: 39px;
    display: flex;
    padding: 2px 0px 2px 3px;
    justify-content: center;
    align-items: center;
    width: 19px;
    font-size: 14px;
    color: white;
}

.mask-mobile {
    background: url(../images/iphone.png?b216c450da0e3bd5ca578f0bdccd841f);
    background-size: 100% 100%;
    height: 560px;
    position: relative;
    width: 280px;
    margin: auto;
}

.mask-image {
    background: url(../images/masks/LATTE.png);
    background-size: 100% 100%;
    height: 523px;
    top: 16px;
    position: absolute;
    z-index: -1;
    left: 21px;
    width: 239px;
}

.mask-name {
    font-family: Slim Joe;
    font-style: italic;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 1px;
    width: 124px
}

.price-mask {
    font-family: Mont;
    font-size: 23px;
    font-style: italic;
    margin-left: -2px;
    margin-top: 1px;
}

.cart-subtotal {
    display: block;
    width: 302px;
    text-align: center;
    margin: 0 0 32px auto;
    font-family: Mont;
    font-size: 23px;
    font-style: italic;
}

.empty-cart {
    font-size: 15px;
    font-family: "Mont";
    letter-spacing: 3px;
}

.mask-description {
    display: flex;
    width: 243px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr {
    width: 100px;
    height: 100px;
    background: url("../images/masks/LATTE-qr.gif");
    background-size: 100% 100%;
}

.mask-qr {
    width: 100px;
}

.mask-qr span {
    font-family: Mont;
}

.mask-qr span:first-child {
font-size: 10px;
margin-top: 7px;
}

.mask-qr span:nth-child(2) {
font-size: 13px;
}

.try-it {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

//order-mask

.order-opportunities-pods .texture h2 {
background: url(../images/текстура_пнг.png?4edaf3aa59bb934bb4d2ef82d4f1f3a1);
background-size: 100% 100%;
width: 178px;
margin-left: auto;
margin-right: 131px;
padding: 0 6px 0 51px;
}

.order-opportunities-pods .d_obj h2 {
background: url(../images/3D_объекты_пнг.png?ae51eba12ed73dc866a371bccb1b0ee2);
background-size: 100% 100%;
width: 220px;
margin-left: auto;
margin-right: 108px;
padding: 0 0 0 32px;
}

.order-opportunities-pods .fly h2 span {
background: url(../images/летающие_частицы_пнг.png?b31af7c1a17baa0e204e0ddd19f27b02);
background-size: 100% 100%;
padding: 33px 11px 9px 0;
}

.order-opportunities-pods .segment h2 {
background: url(../images/сегментация_фона_пнг.png);
background-size: 100% 100%;
width: 304px;
}

.mask-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 222px;
margin: auto;
}

.login-form,
.registration-form,
.reset-password {
width: 372px;
margin: 150px auto;
    .style-input {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.login-form,
.registration-form,
.reset-password {
    button {
        font-family: Mont;
        font-size: 15px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        outline: none !important;
        border: none;
        background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0.6), rgba(120, 161, 149, 0.85) 48%);
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 25px;
        overflow: hidden;
        margin: 40px auto;
    }
}

.login-form,
.registration-form,
.reset-password {
    .style-input {
        font-family: Mont;
        font-size: 15px;
        color: #555555;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        background: transparent;
        padding: 0 5px;
        outline: none;
        border: none;
        position: relative;
        border-bottom: 2px solid #adadad;
        margin-bottom: 37px;
    }
}

.login-form {
a, label {
    font-family: Mont;
    font-size: 15px;
    color: #555555;
    text-decoration: none;
}

a {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
}

.login-form .sign-up-redirect,
.registration-form .sign-up-redirect {
text-align: center;
}

.login-form .sign-up-redirect .txt1,
.registration-form .sign-up-redirect .txt1 {
font-family: Mont;
font-size: 13px;
color: #666666;
line-height: 1.5;
}

.login-form .sign-up-redirect .txt2,
.registration-form .sign-up-redirect .txt2 {
font-family: Mont;
font-size: 13px;
color: #333333;
line-height: 1.5;
text-decoration: none;
}

.order-information {
margin-top: 150px;
}

.order-information h3,
.order-information h4,
.order-information p,
.order-information button,
.order-information textarea,
.order-information h2 {
color: #878787;
font-family: Mont;
letter-spacing: 3px;
font-weight: 100;
}

.order-information .order-description {
z-index: 2;
background: url(../images/order-input-borders.png?2a9a9b5d47d3c6e8f27b45670857c518);
width: 775px;
height: 367px;
margin-left: auto;
}

.order-information textarea {
background: url(../images/order-input.png?20f638ba408517be8f704ac1cd2dd606);
border: none;
width: 100%;
background-size: 100% 100%;
height: 366px;
padding: 10px 0 0 10px;
    white-space: pre-wrap;
}

textarea {
    border: none;
    resize: none
}

textarea:focus {
    outline: none;
}

.order-information textarea:focus {
outline: none;
}

.order-information .order-information-submit {
background: url(../images/order-button.png?fe4c9d3a641348a78a6ed311d8c1cc1b);
border: none;
padding: 10px 20px;
background-size: 100% 100%;
font-size: 15px;
display: block;
margin: 20px 0 10px auto;
    text-align: center;
}

.order-information .order-file-wrapper {
    position: relative;
    display: block;
    width: 108px;
    margin-left: auto;

    span.order-information-submit {
        width: 108px;
        color: #878787;
        font-family: Mont;
        letter-spacing: 3px;
        font-weight: 100;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
    }

    input {
        opacity: 0;
        width: 108px;
        background: none;
    }
}

.order-information .order-information-submit:focus {
outline: none;
}

.order-information p {
font-size: 15px;
line-height: 28px;
text-align: end;
margin-top: 30px;
}

.order-information .order-form {
padding-right: 50px;
}

.order-information h3,
.order-information h4 {
margin-bottom: 10px;
text-align: end;
padding-right: 50px;
}

.order-opportunities h2,
.order-opportunities p {
letter-spacing: 3px;
color: #2f2f2f;
font-family: Mont;
font-weight: 100;
}

.order-opportunities > h2 {
width: 784px;
margin: 50px auto 20px auto;
}

.order-opportunities > p {
text-align: center;
margin: 50px;
}

.order-opportunities-pods {
display: flex;
flex-wrap: wrap;
width: 900px;
justify-content: space-between;
margin: auto;
}

.order-opportunities-pods .order-opportunities-pod {
width: 450px;
margin-top: 50px;
}

.order-opportunities-pods .order-opportunities-pod:nth-child(2n) h2,
.order-opportunities-pods .order-opportunities-pod:nth-child(2n) p {
text-align: start;
}

.order-opportunities-pods .order-opportunities-pod:nth-child(2n+1) h2,
.order-opportunities-pods .order-opportunities-pod:nth-child(2n+1) p {
text-align: center;
}

.order-opportunities-pods p {
line-height: 18px;
font-size: 14px;
}

.order-opportunities-pods h2 {
margin-bottom: 12px;
}

.order-opportunities-pods .face h2 {
background: url(../images/сглаживание_лица_пнг.png);
background-size: 100% 100%;
width: 220px;
}


// cart

.cart-pods {
    margin-top: 50px;

    ul  {
        display: flex;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
    }

    a, li {
        text-decoration: none;
        color: #989898;
    }
}

.cart-products {
    margin-top: 50px;

    .cart-products-included {
        position: relative;
        margin-bottom: 30px;
    }

    .mask-name {
        margin-top: 0;
    }

    .cart-product {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 20px 0;
    }

    .cart-product-background {
        width: 100%;
        height: 100%;
        background: #f8f8f8;
        position: absolute;
        z-index: -1;
    }

    .mask-mobile {
        margin: 0;
        height: 200px;
        width: 100px;

        .mask-image {
            height: 187px;
            top: 6px;
            left: 8px;
            width: 87px;
        }
    }

    .cart-next {
        width: 200px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 25px;
        border-radius: 31px;
        margin: 20px 20px 0 auto;
        font-family: Mont;
        margin-bottom: 50px;

        a {
            color: lighten(#989898, 30%);
            text-decoration: none;
        }
    }

    .cart-cost {
        font-family: Mont;
        font-size: 18px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px 116px 20px 0;

        .cost {
            font-family: Mont;
            font-size: 23px;
            font-style: italic;
            margin-left: 50px;
        }
    }
}

// admin-panel
.admin-submit {

    margin-top: 50px;
    .admin-add {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 723px;
        margin: auto;
        height: 158px;

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    label {
        font-family: Mont;
        margin: auto;
    }

    input {
        margin-top: 5px;
        padding: 10px 10px;
        font-family: Mont;
        border-radius: 18px;
        border: 1px solid #c3c3c3;
    }

    input:focus {
        outline: none;
    }

    > input {
        display: block;
        margin: 50px auto;
        padding: 15px 40px;
        background: lighten(black, 20%);
        color: white;
        font-size: 16px;
    }
}

// order-list

.constructors-list {
    div {
        font-family: Mont;
        font-weight: 100;
        letter-spacing: 2px;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 50px 0;
        border: 1px solid grey;
        padding: 20px;
        border-radius: 31px;
    }

    input, button {
        margin-top: 5px;
        padding: 10px 10px;
        font-family: Mont;
        border-radius: 18px;
        border: 1px solid #c3c3c3;
    }

    input:focus, button:focus {
        outline: none;
    }
}

.admin-list {
    margin-bottom: 50px;
}

.order-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    li {
        font-family: Mont;
    }
}

.admin-list {
    .order-headers {
        li:nth-child(2) {
            margin-left: -176px;
        }
    }

    .constructors-list {
        display: flex;
        flex-direction: column-reverse;
    }
}

.constructors-list-description {
    width: 350px;
}

button:hover, input[type=submit], input[type=file],
.order-information-submit {
    cursor: pointer;
}

.constructors-header {
    font-weight: 100;
    font-family: Mont;
    font-size: 30px;
    margin: 30px 0;
    color: darken(grey, 10%);
    transition: all 0.5s;
    letter-spacing: 10px;
}

.constructors-header:hover {
    color: #78a195;
    cursor: pointer;
}

.user-constructor-list {
    display: none;

    .order-headers {
        padding: 0 53px;

        li:nth-child(2) {
            margin-left: -118px;
        }
    }

    .constructors-list-description {
        width: 300px;
        height: 200px;
        overflow: auto;
        font-family: Mont;
        letter-spacing: 2px;
    }

    .constructors-list-description::-webkit-scrollbar { width: 30px; height: 30px;}

    .constructors-list {
        li {
            div:first-child {
                font-size: 15px;
            }

            div:nth-child(5) {
                font-size: 16px;
            }
        }
    }
}

.constructors-list-description {
    height: 200px;
    overflow: auto;
    font-family: Mont;
    letter-spacing: 2px;
}

.constructors-list-description::-webkit-scrollbar { width: 30px; height: 30px;}

.constructors-list {
    img {
        border-radius: 34px;
    }
}

.alert {
    li {
        margin: 15px auto;
        background: rgba(255, 0, 0, 0.3);
        border-radius: 40px;
        text-align: center;
        padding: 5px 10px;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Mont;
        font-size: 10px;
        width: 250px;
        box-sizing: border-box;
    }
}

.invalid-feedback {
    width: 350px;
    margin: 15px auto;
    background: #ff9999;
    border-radius: 40px;
    text-align: center;
    padding: 5px 10px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form,
.registration-form,
.reset-password {
    .style-input, button {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-check-input {
    margin-left: 56px;
}

a.active-pod {
   color: darken(#989898, 35%);
}

.payment, .download {
    margin: 50px 0 0 86px;

    a {
        text-decoration: none;
        background: #989898;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
    }
}

.cart-products.payment {
    .cart-cost {
        justify-content: flex-start;

        .cost {
            margin-left: 15px;
        }
    }
}

.constructors-list,
.user-constructor-list .order-headers {
    transition: all 0.5s;
}

.user-headers {
    display: flex;
    justify-content: space-between;
    padding: 0 82px;
}

.user-mask-list {
    display: none;

    .catalog {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 5px;
        flex-wrap: wrap;
    }

    .catalog-element {
        width: 300px;
        margin-top: 50px;

        .mask-name {
            text-align: center;
            width: unset;
            font-size: 22px;
            margin-bottom: 5px;
        }
    }

    .catalog-element:nth-child(3n + 2) {
        margin-right: 45px;
        margin-left: 45px;
    }
}
